.consult {
   background-color: #fff;
   padding-top: 12rem;
   padding-bottom: 6rem;

   &__title {
      width: 100%;
      overflow: hidden;
      display: flex;
      /* justify-content: space-between; */
      justify-content: center;
      gap: 4rem;
      align-items: center;
      margin-bottom: 6rem;
   }

   &__header {
      color: #8B4513;
      font-size: 4.8rem;
      font-weight: 400;
   }

   &__line {
      height: 0;
      width: 80vw;
      border: 1px solid #F1C9A5;
      margin-top: 5px;
   }

   &__container {
      display: flex;
      flex-direction: column;
      /*       padding-left: 20px;
      padding-right: 20px; */
   }

   &__opened {
      position: relative;
      display: flex;
      justify-content: space-between;

      &__img {
         position: relative;
         width: 48.7%;
         z-index: 10;
         margin-top: 5.6rem;
         border-radius: 1rem;
         overflow: hidden;

         & img {
            width: 100%;
         }

         /* @include image-hover; */
         @include image-hover-params (0.3, 0.1);
      }

      &__info {
         position: absolute;
         right: 0;
         display: flex;
         flex-direction: column;
         background-image: url('../images/main/consult/bg_img.png');
         background-color: rgba(242, 232, 222, 1);
         background-position: center;
         background-repeat: no-repeat;
         border-radius: 1rem;
         padding-top: 5.6rem;
         padding-bottom: 3rem;
         padding-left: 50rem;
         padding-right: 4rem;
         width: 1070px;
      }

      &__title {
         font-size: 4rem;
         color: #8B4513;
         font-weight: 500;
         margin-bottom: 20px;
      }

      &__text {
         font-size: 18px;
         color: #2A2A2A;
         margin-bottom: 185px;
         line-height: 136%;
         letter-spacing: -0.3px;
      }

      &__btns {
         display: flex;
         justify-content: space-between;
         gap: 10px;
         text-align: center;
      }

      &__more-btn,
      &__all-btn {
         /* padding: 1.2rem 4.5rem; */
         box-sizing: border-box;
         padding-top: 12px;
         padding-bottom: 12px;
         padding-left: 45px;
         padding-right: 45px;
         border: #8B4513 1px solid;
         border-radius: 10px;
         font-size: 1.8rem;
         transition: all 0.3s;
      }

      &__more-btn {
         background-color: #8B4513;
         color: #fff;

         @include media-hover() {
            background-color: #A66321;
         }
      }

      &__all-btn {
         color: #8B4513;
         background-color: #F2E8DE;


         @include media-hover() {
            background-color: #A66321;
            color: #fff;
         }
      }
   }

   &__closed {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 60px;

      &__img {
         position: relative;
         max-width: 370px;
         border-radius: 10px;
         overflow: hidden;

         & img {
            width: 100%;
         }

         /* Добавлено исключение залипания hover */
         @include image-hover;
      }

      &__badge {
         position: absolute;
         min-width: 200px;
         padding-top: 14px;
         padding-bottom: 14px;
         border: none;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
         background-color: rgba(241, 201, 165, 0.6);
         top: 45px;
         left: 0;
         font-size: 24px;
         line-height: 130%;
         font-weight: 800;
         color: #2A2A2A;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
}

@media(max-width:1200px) {

   .consult {

      &__opened {
         &__title {
            font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1200 - 768)));
         }

         &__info {
            padding-left: calc(350px + (500 - 350) * ((100vw - 768px) / (1200 - 768)));
            padding-right: calc(20px + (40 - 20) * ((100vw - 768px) / (1200 - 768)));
            width: calc(710px + (1070 - 710) * ((100vw - 768px) / (1200 - 768)));
         }

         &__text {
            margin-bottom: calc(60px + (185 - 60) * ((100vw - 768px) / (1200 - 768)));
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }

         &__more-btn,
         &__all-btn {
            padding-left: calc(30px + (45 - 30) * ((100vw - 768px) / (1200 - 768)));
            padding-right: calc(30px + (45 - 30) * ((100vw - 768px) / (1200 - 768)));
            border-radius: 10px;
            font-size: 18px;
         }
      }
   }
}

@media(max-width:768px) {
   .consult {
      padding-top: 12rem;
      padding-bottom: 6rem;

      &__title {
         flex-direction: column;
         align-items: start;
         gap: 0;
      }

      &__line {
         width: 100%;
      }

      &__header {
         font-size: calc(34px + (35.657 - 34) * ((100vw - 360px) / (768 - 360)));
      }

      &__container {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__opened {
         position: static;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         &__img {
            width: 100%;
            z-index: 0;
            margin-top: 0;
            border-radius: 0;

            & img {
               width: 100%;
            }
         }

         &__info {
            position: static;
            border-radius: 0;
            padding-top: 5.6rem;
            padding-bottom: 3rem;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;

            /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png"); */
         }

         &__title {
            font-size: 30px;
         }

         &__text {
            margin-bottom: calc(30px + (60 - 30) * ((100vw - 360px) / (768 - 360)));
         }

         &__btns {
            display: flex;
            justify-content: space-between;
         }
      }

      &__closed {
         gap: 0;
         margin-top: 0;

         &__img {
            margin-top: 20px;
            border-radius: 0;
         }
      }
   }
}

@media(max-width:500px) {
   .consult {
      &__line {
         width: 100%;
      }

      &__opened {
         &__info {
            background-image: none;
         }

         &__btns {
            flex-direction: column;
            gap: 20px;
            max-width: 250px;
            align-self: center;
         }
      }

      &__closed {
         &__img {
            position: relative;
            max-width: 360px;
         }
      }
   }
}

@media(max-width:360px) {
   .consult {
      &__opened {
         &__text {
            font-size: 14px;
         }
      }
   }
}