.artifacts-card {
   background-color: #fff;

   .hero {
      background-image: url('../images/artifacts_card/hero/bg_img.png');
      height: 49.2rem;
      background-position: center center;
   }

   .title-unit {
      background-color: #F2E8DE;
      margin: 0 auto;

      /*       &-container {
            position: relative;
         } */

      &__container {
         position: relative;
         padding-left: 15px;
         padding-right: 15px;
      }

      &__title-mod {
         background-color: rgba(139, 69, 19, .5);
         width: 45.1rem;
         height: 25.8rem;
         padding-top: 2.5rem;
         position: absolute;
         /* z-index: 100; */
         top: 7px;
         transform: translateY(-11.5rem);
      }

      &__title-header {
         font-size: 4.8rem;
         font-weight: 400;
         color: #fff;
         text-transform: uppercase;
         text-align: center;
      }
   }

   .buy-now {
      padding-top: 12rem;
      padding-bottom: 5.3rem;

      &__container {
         display: flex;
         justify-content: space-between;
         /* gap: 30px; */
      }

      &__img {
         position: relative;
         z-index: 10;
         width: 49%;
         border-radius: 10px;
         overflow: hidden;

         &>img {
            width: 100%;
            border-radius: 10px;
         }
      }

      &__info {
         width: 48%;
      }

      &__header {
         margin-bottom: 10px;

         & h2 {
            color: #333333;
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
         }
      }

      &__vendor-code {
         font-size: 20px;
         color: #333333;
         font-weight: 200;
         margin-bottom: 40px;
      }

      &__text {
         margin-bottom: 188px;

         & p {
            font-size: 18px;
            line-height: 140%;
            color: #2A2A2A;

         }
      }

      &__btns {
         display: flex;
         gap: 20px;
         margin-top: 15px;
         margin-bottom: 20px;
      }

      &__to-cart-btn,
      &__just-btn {
         font-size: 16px;
         width: 200px;
         padding: 9px;
         display: flex;
         justify-content: center;
         gap: 8px;
         align-items: center;
         border-radius: 10px;
         transition: all 0.3s;

      }

      &__to-cart-btn {
         color: #fff;
         background-color: #8B4513;

         & img {
            pointer-events: none;
         }

         @include media-hover() {
            background-color: #A66321;
         }
      }

      &__just-btn {
         color: #8B4513;
         background-color: transparent;
         border: #8B4513 1px solid;

         @include media-hover() {
            background-color: #A66321;
            color: #fff;
         }
      }

      &__cash {
         position: relative;
         width: fit-content;
         display: flex;
         align-items: center;
         gap: 20px;
      }

      &__pop-up {
         position: absolute;
         transform: translateY(calc(-100% + 63px));
         padding: 30px 20px;
         left: -20px;
         /* max-width: 400px; */
         width: 400px;
         z-index: 5;
         box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.4);
         background: #f2e8de;
         border-radius: 10px;
         /* pointer-events: none; */
         transition: all 0.5s;

         & p {
            font-size: 12px;
            line-height: 135%;
         }
      }

      &__cross {
         position: absolute;
         top: 10px;
         right: 10px;
         pointer-events: all;
      }

      &__cash-image {
         width: 80px;

         & img {
            width: 100%;
         }
      }

      &__cash-text {
         font-size: 16px;
         color: #2A2A2A;
      }

      &__info-icon {
         position: absolute;
         top: 0;
         right: 0;
         width: 17px;
         transform: translateX(100%);

         & img {
            width: 100%;
         }
      }
   }

   .slider {
      /* padding-bottom: 5.3rem; */

      &__container {
         display: flex;
         justify-content: start;
         align-items: center;
         gap: 9px;
         margin-top: 20px;
         /* margin-bottom: 5.3rem; */
      }

      &-swiper {
         width: 480px;
         overflow: hidden;

         & img {
            border-radius: 6px;
            /* width: 95%; */
            width: 100%;
         }
      }

      &__btns {
         position: relative;
         display: flex;
         width: 480px;
         align-items: center;
         justify-content: space-between;
      }
   }

   .tabs {
      padding-bottom: 7rem;

      &__container {
         flex-direction: column;
      }

      &__headers {
         display: flex;
         gap: 10px;
         padding-left: 40px;
      }

      &__header {
         padding: 16px 32px;
         background-color: #fff;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         border: #F2E8DE 2px solid;
         border-bottom: none;
         font-size: 14px;
         color: #2A2A2A;
         text-transform: uppercase;
         cursor: pointer;
         transition: all 0.5s;

         &--active {
            background-color: #F2E8DE;
         }
      }

      &__texts {
         border: #F2E8DE 2px solid;
         border-radius: 10px;
         padding: 30px 40px 39px;

         &--active {
            background-color: #F2E8DE;
         }
      }

      &__text {
         transition: all 0.5s;

         p {
            font-size: 18px;
            line-height: 140%;
            color: rgb(42, 42, 42);
         }

         p~p {
            margin-top: 26px;
         }
      }
   }

   .title-block {
      padding-bottom: 6rem;
      position: relative;
      overflow: hidden;

      &__container {
         overflow: visible;
      }

      &__title {
         font-size: 48px;
         color: #8B4513;
      }

      &__line {
         position: absolute;
         top: 32px;
         left: calc(50vw - 200px);
         width: 6000px;
         right: 6000px;
         border: none;
         border-top: 2px solid #8B4513;
         margin-left: 20px;
         align-self: center;
      }
   }

   .cards {
      padding-bottom: 12rem;

      &__container {
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         justify-content: center;

      }

      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 270px;
         padding: 10px 10px 20px;
         background-color: #F1C9A5;
         border-radius: 10px;
         text-align: center;
      }

      &__img {
         margin-bottom: 20px;

         & img {
            width: 100%;
            border-radius: 10px;
         }
      }

      &__title {
         padding-bottom: 5px;
         border-bottom: #F2E8DE 2px solid;
         margin-bottom: 10px;
         font-size: 18px;
         color: #333333;
      }

      &__text {
         margin-bottom: 16px;
         font-size: 16px;
         color: #333333;
         flex-grow: 2;
      }

      &__price {
         margin-bottom: 10px;
         width: 150px;
         border-radius: 10px;
         font-size: 20px;
         color: #2A2A2A;
         /* padding: 5px 28px; */
         padding: 7px;
         text-align: center;
         background-color: #fff;
      }

      &__btn {
         background-color: #8B4513;
         color: #fff;
         font-size: 16px;
         width: 200px;
         padding: 9px;
         display: flex;
         justify-content: center;
         gap: 8px;
         align-items: center;
         border-radius: 10px;
         transition: all 0.3s;

         & img {
            pointer-events: none;
         }

         @include media-hover() {
            background-color: #A66321;
         }
      }
   }
}

@media (max-width: 1600px) {
   .artifacts-card {
      .hero {
         height: calc(300px + (492 - 300) * ((100vw - 1200px) / (1600 - 1200)));
      }
   }
}

@media (max-width: 1200px) {
   .artifacts-card {
      .hero {
         height: 300px;
      }

      .buy-now {
         &__header {
            margin-bottom: 10px;

            & h2 {
               font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (1200 - 360)));
            }
         }

         &__vendor-code {
            font-size: calc(16px + (20 - 16) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text {
            margin-bottom: calc(30px + (188 - 30) * ((100vw - 768px) / (1200 - 768)));

            & p {
               font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));

            }
         }

         &__cash-text {
            font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1200 - 360)));
         }
      }

      .tabs {
         &__texts {
            padding-left: calc(20px + (40 - 20) * ((100vw - 360px) / (1200 - 360)));
            padding-right: calc(20px + (40 - 20) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text p {
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }
      }

      .title-block {
         &__title {
            font-size: calc(34px + (48 - 34) * ((100vw - 360px) / (1200 - 360)));
         }

         &__line {
            left: calc(50vw + calc(37px + (-200 - 37) * ((100vw - 576px) / (1200 - 576))));
            top: calc(25px + (32 - 25) * ((100vw - 576px) / (1200 - 576)));
         }

      }

      .cards {
         &__container {
            gap: calc(15px + (30 - 15) * ((100vw - 360px) / (1200 - 360))) calc(10px + (30 - 10) * ((100vw - 360px) / (1200 - 360)));
         }

         &__item {
            width: calc(155px + (270 - 155) * ((100vw - 360px) / (1200 - 360)));
         }

         &__title {
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text {
            font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1200 - 360)));
         }

         &__price {
            font-size: calc(15px + (20 - 15) * ((100vw - 360px) / (1200 - 360)));
            width: calc(100px + (150 - 100) * ((100vw - 360px) / (1200 - 360)));
         }

         &__btn {
            font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1200 - 360)));
            width: calc(130px + (200 - 130) * ((100vw - 360px) / (1200 - 360)));
         }
      }
   }
}

@media (max-width: 992px) {
   .artifacts-card {
      .buy-now {
         &__info {
            flex-shrink: 1;
         }

         &__pop-up {
            width: calc(320px + (400 - 320) * ((100vw - 360px) / (992 - 360)));

            & p {
               font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (992 - 360)));
            }
         }

      }
   }
}

@media (max-width: 768px) {
   .artifacts-card {
      .hero {
         background-size: auto 145%;
         background-position: right 0 top -70px;
         margin-bottom: 12rem;
      }

      .title-unit {
         &__container {
            padding-left: 20px;
            padding-right: 20px;
         }

         &__title-mod {
            top: -11rem;
         }
      }

      .buy-now {
         padding-top: 0;

         &__container {
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
         }

         &__img {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            min-width: 0;
            flex-shrink: 1;
            margin-bottom: 30px;
         }

         &__info {
            width: 100%;
         }

         &__text {
            margin-bottom: 60px;
         }

         &__pop-up {
            margin-left: 20px;
         }
      }

      /* Без этих строк слайдер не сжимается при уменьшении экрана */
      .slider {
         &-swiper {
            max-width: 100%;
         }

         &__container {
            max-width: 100%;
         }
      }

      .tabs {
         &__container {
            padding-left: 20px;
            padding-right: 20px;
         }
      }

      .title-block {
         &__container {
            padding-left: 20px;
            padding-right: 20px;
         }
      }
   }
}

@media (max-width: 576px) {
   .artifacts-card {
      .hero {
         background-size: auto 145%;
         background-position: right calc(-125px + (125 - 0) * ((100vw - 360px) / (576 - 360))) top calc(-95px + (95 - 70) * ((100vw - 360px) / (576 - 360)));
      }

      .buy-now {
         &__container {
            padding-left: 0;
            padding-right: 0;
         }

         &__img {
            border-radius: 0;

            &>img {
               border-radius: 0;
            }
         }

         &__info {
            padding-left: 20px;
            padding-right: 20px;
         }
      }

      .slider__container {
         padding-left: 20px;
         padding-right: 20px;
      }


      .tabs {
         &__headers {
            padding-left: 0;
            gap: 0;
         }

         &__header {
            letter-spacing: 0.9;
            padding-left: calc(16px + (32 - 16) * ((100vw - 360px) / (576 - 360)));
            padding-right: calc(16px + (32 - 16) * ((100vw - 360px) / (576 - 360)));
         }

         /* &__texts {} */
      }

      .title-block {
         &__container {
            flex-direction: column;
         }

         &__line {
            position: static;
            align-self: start;
            margin-left: 0;

         }
      }
   }
}