.artifacts {
   background-color: $project-bg;

   .hero {
      background-image: url("../images/artifacts/hero/bg_img.png");
      height: 49.2rem;
      background-position: center center;
   }

   .title-unit {
      background-color: #f2e8de;
      margin: 0 auto;

      &__container {
         position: relative;
         padding-left: 15px;
         padding-right: 15px;
      }

      &__title-mod {
         background-color: rgba(139, 69, 19, 0.5);
         border-top-right-radius: 10px;
         border-top-left-radius: 10px;
         width: 45.1rem;
         height: 25.8rem;
         padding-top: 2.5rem;
         position: absolute;
         /* z-index: 100; */
         top: 7px;
         transform: translateY(-11.5rem);
      }

      &__title-header {
         font-size: 4.8rem;
         font-weight: 400;
         color: #fff;
         text-transform: uppercase;
         text-align: center;
      }
   }

   .carousel {
      background-color: #f2e8de;
      padding-top: 12rem;
      padding-bottom: 6rem;
      /* height: 76rem; */

      &__container {
         padding-left: 15px;
         padding-right: 15px;
         width: 100%;
         height: 72rem;
         position: relative;
      }

      &__image {
         position: absolute;
         z-index: 10;
         width: 48.72%;
         left: 15px;
         /* border-radius: 10px; */
         overflow: hidden;

         & img {
            width: 100%;
            border-radius: 10px;
            /* height: 100%; */
         }
      }

      &__arrows {
         background-color: transparent;
         display: flex;
         justify-content: center;
         align-self: center;
         justify-self: center;
         position: absolute;
         right: 20px;
         bottom: 60px;
         z-index: 50;
         gap: 20px;
         /* Следующая строка для стыковки блоков в нахлёст */
         /* margin-top: -10px; */
      }

      &__arrow-left,
      &__arrow-right {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 36px;
         height: 36px;
         border-radius: 3px;
         background-color: #f1c9a5;
         stroke: #8b4513;
         cursor: pointer;
         transition: all 0.3s;

         @include media-hover() {
            background-color: #a66321;
            stroke: #fff;
         }
      }

      &__pagination {
         display: flex;
         justify-content: center;
         margin-top: 20px;
      }

      &__info {
         position: absolute;
         width: 57.26%;
         right: 10px;
         top: 60px;
         /* transform: translateY(-50%); */
         padding: 40px 60px 40px 130px;
         border-radius: 10px;
         overflow: hidden;
         z-index: 5;
         background-color: rgba(241, 201, 165, 0.6);
      }

      &__header {
         color: #8b4513;
         font-size: 48px;
         font-weight: 500;
         opacity: 1;
         margin-bottom: 20px;
      }

      &__text {
         color: #2a2a2a;
         font-size: 1.8rem;
         line-height: 130%;
         margin-bottom: 163px;
      }

      &__btns {
         display: flex;
         justify-content: space-between;
         gap: 10px;
         text-align: center;
      }

      &__more-btn,
      &__all-btn {
         /* padding: 1.2rem 4.5rem; */
         box-sizing: border-box;
         padding-top: 12px;
         padding-bottom: 12px;
         padding-left: 15px;
         padding-right: 8px;
         width: 48%;
         text-align: center;
         border: #8b4513 1px solid;
         border-radius: 10px;
         font-size: 18px;
         transition: all 0.3s;
      }

      &__more-btn {
         background-color: #8b4513;
         color: #fff;
         display: flex;
         justify-content: center;
         gap: 8px;
         align-items: center;

         @include media-hover() {
            background-color: #a66321;
         }
      }

      &__all-btn {
         color: #8b4513;
         background-color: #f2e8de;

         @include media-hover() {
            background-color: #a66321;
            color: #fff;
         }
      }

      &__rectangle {
         position: absolute;
         left: -78px;
         top: 115px;
         min-width: 180px;
         min-height: 600px;
         background-color: #f1c9a5;
         border-radius: 10px;
      }
   }

   .jewelry {
      background-color: #f2e8de;
      margin: 0 auto;
      padding-bottom: 12rem;

      &__container {
         padding-left: 15px;
         padding-right: 15px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 30px;
      }

      &__product {
         display: flex;
         flex-direction: column;
         gap: 20px;
         max-width: 370px;
         min-width: 360px;

         &:nth-child(even) {
            flex-direction: column-reverse;
            align-self: self-start;
         }
      }

      /* Серое покрывало на блок */
      &__img {
         position: relative;
         border-width: 0;

         & > img {
            display: block;
            width: 100%;
            border-radius: 10px;
            border-width: 0;
         }

         &:after {
            content: "";
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            border: none;
            border-radius: 10px;
            transition: all 350ms;
         }
      }

      &__price {
         position: absolute;
         top: 20px;
         left: 0;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
         background-color: rgba(241, 201, 165, 0.8);
         color: #2a2a2a;
         font-size: 24px;
         padding: 13px 44px;
         z-index: 10;
      }

      &__btns {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         bottom: 20px;
         display: flex;
         justify-content: center;
         gap: 20px;
         align-items: center;
         z-index: 10;
      }

      &__cart-btn {
         background-color: #fff;
         padding: 13px 22px;
         border-radius: 10px;
         transition: all 0.3s;
         cursor: pointer;

         @include media-hover() {
            background-color: #f1c9a5;
         }
      }

      &__details-btn {
         box-sizing: border-box;
         min-width: 200px;
         padding-top: 13px;
         padding-bottom: 13px;
         padding-left: 19px;
         padding-right: 19px;
         border: #fff 1px solid;
         border-radius: 10px;
         cursor: pointer;
         font-size: 18px;
         text-align: center;
         color: #fff;
         transition: all 0.3s;

         @include media-hover() {
            background-color: #f1c9a5;
            border-color: #f1c9a5;
            color: #8b4513;
         }
      }

      &__header {
         font-size: 32px;
         color: #8b4513;
         margin-bottom: 10px;
         text-align: center;
      }

      &__text {
         font-size: 18px;
         line-height: 140%;
         color: #2a2a2a;
         text-align: center;
      }
   }

   .correction {
      background-color: #f2e8de;
      padding-bottom: 12rem;

      &__container {
         position: relative;
         height: 650px;
         /* height: fit-content; */

         & p {
            font-size: 18px;
            color: #8b4513;
            line-height: 140%;
         }
      }

      &__info {
         background-color: rgba(241, 201, 165, 0.6);
         background-image: url("../images/artifacts/correction/bg_img.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size: auto 100%;

         width: 93.1%;
         height: 570px;
         height: fit-content;
         position: absolute;
         top: 0;
         right: 15px;
         border-radius: 10px;
         padding-top: 80px;
         padding-right: 60px;
         padding-bottom: 41px;
         /* padding-left: 55rem; */
         padding-left: 569px;
         /* padding-left: 47.4%; */
      }

      &__header {
         font-size: 40px;
         color: #8b4513;
         line-height: 108%;
         margin-bottom: 20px;
      }

      &__img {
         width: 48.7%;
         position: absolute;
         left: 15px;
         bottom: 0;
         z-index: 5;
         border-radius: 10px;
         overflow: hidden;

         & img {
            /* width: 100%; */
            width: auto;
            border-radius: 10px;
         }
      }
   }

   .cards {
      padding-bottom: 12rem;
   }

   .back {
      background-image: url("../images/artifacts/back/bg_img.png");
      /* background-size: 1632px auto; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -485px;
      height: 506px;

      &__container {
         position: relative;
         height: 100%;
      }

      &__info {
         position: absolute;
         right: 102px;
         top: 50%;
         transform: translateY(-50%);
         padding: 45px 18px 51px;
         max-width: 516px;
         background-color: rgba(241, 201, 165, 0.6);
      }

      &__header {
         font-size: 40px;
         color: #8b4513;
         margin-bottom: 20px;
         text-align: center;
      }

      &__text {
         font-size: 18px;
         line-height: 140%;
         color: #2a2a2a;
         text-align: center;
      }
   }

   /* Добавляем имя класса слайдера, чтобы отличить буллеты от разных слайдеров на одной странице, так как буллеты создаются свайпером, и мы не можем добавить к ним дополнительный класс непосредственно */
   .carousel__image .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      line-height: 20;
      border-radius: 3px;
      background-color: #fff;
      opacity: 1;

      &-active {
         background-color: #f1c9a5;
      }
   }
}

@media (max-width: 1920px) {
   .artifacts {
      .back {
         background-position: 0 calc(-240px - (485 - 240) * ((100vw - 1200px) / (1920 - 1200)));
      }
   }
}

@media (max-width: 1600px) {
   .artifacts {
      .hero {
         height: calc(300px + (492 - 300) * ((100vw - 1200px) / (1600 - 1200)));
      }
   }
}

@media (max-width: 1200px) {
   .artifacts {
      .hero {
         height: 300px;
      }

      .carousel {
         padding-bottom: 0;

         &__info {
            padding-right: calc(20px + (60 - 20) * ((100vw - 768px) / (1200 - 768)));
            padding-left: calc(100px + (130 - 100) * ((100vw - 768px) / (1200 - 768)));
         }

         &__header {
            font-size: calc(30px + (40 - 30) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text {
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
            margin-bottom: calc(60px + (163 - 60) * ((100vw - 768px) / (1200 - 768)));
         }

         &__rectangle {
            display: none;
         }
      }

      .jewelry {
         &__container {
            gap: calc(30px + (60 - 30) * ((100vw - 992px) / (1200 - 992)));
         }

         &__product {
            max-width: 445px;
         }
      }

      .correction {
         &__container {
            p {
               font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
            }
         }

         &__info {
            padding-top: calc(20px + (80 - 20) * ((100vw - 768px) / (1200 - 768)));
            padding-right: calc(20px + (60 - 20) * ((100vw - 768px) / (1200 - 768)));
            padding-bottom: calc(34px + (41 - 34) * ((100vw - 768px) / (1200 - 768)));
            padding-left: calc(375px + (569 - 375) * ((100vw - 768px) / (1200 - 768)));
         }

         &__header {
            font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1200 - 768)));
         }

         &__img {
            & img {
               margin-left: calc(-120px + (0 - (-120)) * ((100vw - 768px) / (1200 - 768)));
            }
         }
      }

      /* По прошедствии времени удалить */
      /*       .cards {
         &__container {
            gap: calc(15px + (30 - 15) * ((100vw - 360px) / (1200 - 360)))
               calc(10px + (30 - 10) * ((100vw - 360px) / (1200 - 360)));
         }

         &__item {
            width: calc(155px + (270 - 155) * ((100vw - 360px) / (1200 - 360)));
         }

         &__title {
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text {
            font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1200 - 360)));
         }

         &__price {
            font-size: calc(15px + (20 - 15) * ((100vw - 360px) / (1200 - 360)));
            width: calc(100px + (150 - 100) * ((100vw - 360px) / (1200 - 360)));
         }

         &__btn {
            font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1200 - 360)));
            width: calc(130px + (200 - 130) * ((100vw - 360px) / (1200 - 360)));
         }
      } */

      .back {
         height: calc(340px + (506 - 340) * ((100vw - 360px) / (1200 - 360)));
         background-position: 0 calc(-45px - (240 - 45) * ((100vw - 768px) / (1200 - 768)));

         &__info {
            width: calc(320px + (516 - 320) * ((100vw - 360px) / (1200 - 360)));

            right: calc(264px - (264 - 102) * ((100vw - 992px) / (1200 - 992)));
         }

         &__header {
            font-size: calc(30px + (40 - 30) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text {
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }
      }
   }
}

@media (max-width: 992px) {
   .artifacts {
      .carousel {
         &__btns {
            flex-direction: column;
            gap: 30px;
            width: 100%;
         }

         &__more-btn,
         &__all-btn {
            width: 100%;
         }
      }

      .jewelry {
         &__container {
            gap: calc(15px + (30 - 15) * ((100vw - 768px) / (992 - 768)));
         }

         &__product {
            max-width: calc(360px + (445 - 360) * ((100vw - 768px) / (992 - 768)));
         }
      }

      .back {
         &__info {
            right: 50%;
            transform: translate(50%, -50%);
         }
      }
   }
}

@media (max-width: 768px) {
   .artifacts {
      .hero {
         background-size: auto 145%;
         background-position: right 0 top -70px;
         margin-bottom: 12rem;
      }

      .title-unit {
         &__title-mod {
            top: -11rem;
         }
      }

      .carousel {
         padding-bottom: 12rem;
         padding-top: 0;
         /* margin-top: 12rem; */

         &__container {
            flex-direction: column-reverse;
            height: fit-content;
            gap: 30px;
         }

         &__image {
            position: static;
            width: 100%;
         }

         &__arrows {
            right: 35px;
         }

         &__info {
            position: static;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
         }

         &__ground {
            /* background-color: #fff; */
            background-color: $project-bg;
            border-radius: 10px;
         }

         &__text {
            margin-bottom: 30px;
         }

         &__btns {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
         }

         &__more-btn,
         &__all-btn {
            display: block;
            width: calc(200px + (370 - 200) * ((100vw - 360px) / (768 - 360)));
         }
      }

      .correction {
         &__container {
            display: flex;
            flex-direction: column;
            height: fit-content;
            padding-left: 0;
            padding-right: 0;
         }

         &__info {
            position: static;
            border-radius: 0;
            width: 100%;
            padding: 30px 20px 30px;
            background-image: none;

            & p {
               font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (768 - 360)));
            }
         }

         &__header {
            font-size: 30px;
         }

         &__img {
            position: static;
            width: 100%;
            border-radius: 0;

            & img {
               border-radius: 0;
               width: 100%;
               margin-left: 0;
            }
         }
      }

      .jewelry {
         &__container {
            gap: 40px;
         }

         &__product {
            max-width: calc(360px + (445 - 360) * ((100vw - 360px) / (768 - 360)));
            flex-direction: column-reverse;
         }

         &__img {
            & > img {
               border-radius: 0;
            }

            &:after {
               border-radius: 0;
            }
         }
      }

      .back {
         background-position: calc(-96px + (96 - 0) * ((100vw - 360px) / (768 - 360)));
      }
   }
}

@media (max-width: 576px) {
   .artifacts {
      .hero {
         background-size: auto 145%;
         background-position: right calc(-125px + (125 - 0) * ((100vw - 360px) / (576 - 360))) top
            calc(-95px + (95 - 70) * ((100vw - 360px) / (576 - 360)));
      }
   }
}
