.artifacts-subcategory {
   background-color: $project-bg;

   .hero {
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), url('../images/artifacts_subcategory/hero/bg_img.png');
      height: 49.2rem;
      background-position: center center;

      &__container {
         position: relative;
      }

      &__title {
         font-size: 9.6rem;
         font-weight: 400;
         color: #fff;
         /* margin-left: 25.5rem; */
         text-transform: uppercase;
         position: absolute;
         left: 25.5rem;
         top: 18.3rem;
      }

      &__text {
         font-size: 4.8rem;
         color: rgba(241, 201, 165, .58);
         font-weight: 400;
         text-transform: uppercase;
         position: absolute;
         top: 17.8rem;
         left: 0;
      }
   }

   .cards {
      padding-top: 12rem;
      padding-bottom: 3rem;

      &__container {
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         justify-content: center;

      }

      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 270px;
         padding: 10px 10px 20px;
         background-color: #F1C9A5;
         border-radius: 10px;
         text-align: center;
      }

      &__img {
         margin-bottom: 20px;

         & img {
            width: 100%;
            border-radius: 10px;
         }
      }

      &__title {
         padding-bottom: 5px;
         border-bottom: #F2E8DE 2px solid;
         margin-bottom: 10px;
         font-size: 18px;
         color: #333333;
      }

      &__text {
         margin-bottom: 16px;
         font-size: 16px;
         color: #333333;
         flex-grow: 2;
      }

      &__price {
         margin-bottom: 10px;
         width: 150px;
         border-radius: 10px;
         font-size: 20px;
         color: #2A2A2A;
         /* padding: 5px 28px; */
         padding: 7px;
         text-align: center;
         background-color: #fff;
      }

      &__btn {
         background-color: #8B4513;
         color: #fff;
         font-size: 16px;
         width: 200px;
         padding: 9px;
         display: flex;
         justify-content: center;
         gap: 8px;
         align-items: center;
         border-radius: 10px;
         transition: all 0.3s;

         & img {
            pointer-events: none;
         }

         @include media-hover() {
            background-color: #A66321;
         }
      }
   }

   .text-info {
      padding-bottom: 12rem;

      &__container {
         flex-direction: column;

         & p {
            font-size: 18px;
            color: #2A2A2A;
         }

         & p~p {
            margin-top: 2.4rem;
         }
      }
   }
}

@media (max-width: 1200px) {
   .artifacts-subcategory {
      .cards {
         &__container {
            gap: calc(15px + (30 - 15) * ((100vw - 360px) / (1200 - 360))) calc(10px + (30 - 10) * ((100vw - 360px) / (1200 - 360)));
         }

         &__item {
            width: calc(155px + (270 - 155) * ((100vw - 360px) / (1200 - 360)));
         }

         &__title {
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text {
            font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1200 - 360)));
         }

         &__price {
            font-size: calc(15px + (20 - 15) * ((100vw - 360px) / (1200 - 360)));
            width: calc(100px + (150 - 100) * ((100vw - 360px) / (1200 - 360)));
         }

         &__btn {
            font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1200 - 360)));
            width: calc(130px + (200 - 130) * ((100vw - 360px) / (1200 - 360)));
         }
      }

      .text-info {
         &__container {
            & p {
               font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
            }
         }
      }
   }
}