.common.cart-menu {
   position: relative;
   z-index: 150;
   max-width: 410px;
   height: 487px;
   background-color: #f2e8de;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   padding-right: 30px;
   transform: translateY(-30%);
   transition: transform 0.5s;

   &--visible {
      transform: translateY(100%);
   }

   &--invisible {
      transform: translateY(-30%);
   }
}

/* .common.cart-menu {} */

.cart-menu {
   &__items {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      border-bottom: #8b4513 2px solid;
      margin-bottom: 20px;
      overflow-y: scroll;
      max-height: 310px;
      /* flex-grow: 0; */
   }

   &__item {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 20px;

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   &__img {
      position: relative;

      a,
      img {
         display: block;
      }
      @include image-hover;
   }

   &__info {
      /* max-width: 220px; */
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__header {
      font-size: 14px;
      text-transform: uppercase;
      color: #2a2a2a;

      @include media-hover() {
         color: #8b4513;
         font-weight: 500;
      }
   }

   &__price-block {
      display: flex;
      align-items: center;
      /* font-size: 16px; */
      font-weight: 500;
      color: #2a2a2a;

      & > .cart-menu__price {
         font-size: 16px;
      }
   }

   &__plus,
   &__minus {
      width: 24px;
      height: 24px;
      border: 1px solid #8b4513;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      & svg {
         display: block;
         stroke: #2a2a2a;
      }

      &:hover {
         background-color: #a66321;

         & svg {
            stroke: #fff;
         }
      }
   }

   &__minus {
      margin-left: 30px;
      margin-right: 14px;

      /*       & svg {
         margin-bottom: 5px;
      } */
   }

   &__plus {
      margin-left: 14px;
      margin-right: 20px;

      /*       & svg {
         margin-bottom: -1px;
      } */
   }

   &__delete {
      background-color: #f2e8de;
      border: none;

      & svg {
         & path {
            stroke: #8b4513;
         }
      }
   }

   @media (hover: hover) {
      &__delete:hover svg path {
         stroke: #a66321;
      }
   }

   @media (hover: none) {
      &__delete:hover svg path {
         stroke: #a66321;
      }
   }

   &__counter {
      width: 10px;
      background-color: #f2e8de;
      font-size: 16px;
      border: none;
   }

   &__result-price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
   }

   &__text,
   &__price {
      font-size: 20px;
      color: #2a2a2a;
      font-weight: 500;
   }

   &__buttons {
      display: flex;
      justify-content: space-between;
   }

   &__button {
      padding: 9px 44px;
      font-size: 16px;
      border-radius: 10px;
      border: #8b4513 1px solid;
      overflow: hidden;
      transition: all 0.3s;
   }

   &__button--clear {
      color: #8b4513;
      background-color: #f2e8de;

      @include media-hover() {
         background-color: #a66321;
         color: #fff;
      }
   }

   &__button--order {
      color: #fff;
      background-color: #8b4513;

      @include media-hover() {
         background-color: #a66321;
      }
   }
}

@media (max-width: 500px) {
   .common.cart-menu {
      /* Если использовать скролл товаров */
      padding-left: calc(20px + (30 - 20) * ((100vw - 360px) / (500 - 360)));
      padding-right: calc(20px + (30 - 20) * ((100vw - 360px) / (500 - 360)));
   }
   .cart-menu {
      padding-left: 20px;
      padding-right: 20px;

      &__item {
         gap: 10px;
      }

      &__minus {
         margin-left: 10px;
         margin-right: 10px;
      }

      &__plus {
         margin-left: 10px;
      }

      &__button {
         padding: 9px 35px;
      }
   }
}
