/* Центрирование отдельной секции страницы */
.center {
   padding-left: calc(50% - 60rem);
   padding-right: calc(50% - 60rem);
}

/* Общий стиль для контейнера секции страницы */
.container {
   display: flex;
   max-width: 120rem;
   padding-left: 15px;
   padding-right: 15px;
}

/* Делает блок прозрачным */
.opacity--zero {
   opacity: 0;
   pointer-events: none;
   /* background-color: rgba(255, 255, 255, 0); */
}

/* Делает блок непрозрачным */
.opacity--max {
   opacity: 1;
   pointer-events: all;
   /* background-color: rgba(255, 255, 255, 1); */
}

/* Удаляет блок из DOM */
.display--none {
   display: none;
}

/* Возвращает блок в DOM */
.display--block {
   display: block;
}
